{%load static%}
<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
            font-family: Invasion;
            src: url({% static "fonts/INVASION2000.TTF" %}) format('truetype');
          }
        @font-face {
            font-family: PURegular;
            src: url({% static "fonts/pixel-ultima-regular.ttf" %}) format('truetype');
          }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
    <link href="https://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet">
</head>
<body>



    <div class="sidenav">
        {%for element in side_bar%}
        <a href="#" onclick = "location.href='{% url 'onclick' %}'">{{element.name}} + {% url 'onclick'%}<a>
        {% endfor %}
    </div>
    <div class="main">{{block}}</div>

    {% if not user.is_authenticated %}
    <div class="main">if user is not authenticated<br>{user.groups}</div>
    {% else %}
    <div class="main">this user is authenticated<br>{{ request.user }}</div>
    {% endif %}
</body>
</html>