{%load static%}
<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
            font-family: Invasion;
            src: url({% static "fonts/INVASION2000.TTF" %}) format('truetype');
          }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
    <link href="https://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet">
</head>
<body>



    <div class="sidenav" style="font-family: Invasion;">
        {%for element in side_bar%}
        <a href="#">{{element.name}}<a>
        {% endfor %}
    </div>
    <div class="main"> CONTENT <br>{{contents}}</div>
</body>
</html>